body {
    font-family: 'Arial', sans-serif;
    background-image: url('img/back_con_fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Primer_tit {
    text-align: center;
    color: #343a40;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.grid-item {
    margin: 10px;
}

.grid-item img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.grid-item img:hover {
    transform: scale(1.1);
}

.transparent-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -190px; /* Ajuste para que sea más alto */
    width: calc(60% - 50px); /* Ancho ajustado */
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    margin-top: 287px; /* Ajuste de la distancia hacia abajo */
    margin-left: auto; /* Alinear a la derecha */
    margin-right: 25px; /* Mismo margen que el carrusel */
    display: flex;
    align-items: center; /* Centrar verticalmente */
}

.transparent-box p {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-right: 10px; /* Margen a la derecha del texto */
}

.transparent-box img {
    margin-right: auto; /* Mover la imagen hacia la izquierda */
    margin-left: 0; /* Alinear la imagen a la izquierda */
    display: block; /* Hacer que la imagen sea un bloque */
    margin-right: 10px; /* Margen a la derecha de la imagen */
}

.container {
    display: flex;
    height: 100vh;
}

.texto {
    flex: 1;
}

.imagenes {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper {
    margin-left: 150px;
    margin-right: 100px;
}

.grid-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 100px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.text-end {
    text-align: right; /* Alinear a la derecha */
}


.carrusel-container {
    max-width: 600px; /* Define el ancho máximo del carrusel */
    max-height: 800px;
    margin: auto; /* Centra el carrusel horizontalmente */
    border-top: 2px black;
    border-bottom: 2px black;
    border-left: 2px black;
    border-right: 2px black;
}

.carousel-inner {
    text-align: center; /* Alinea las imágenes al centro del carrusel */
}

.carousel-item img {
    max-width: 600px; /* Define el ancho máximo de las imágenes */
    max-height: 400px; /* Define la altura máxima de las imágenes */
    width: auto; /* Ajusta automáticamente el ancho de la imagen para mantener la proporción */
    height: auto; /* Ajusta automáticamente la altura de la imagen para mantener la proporción */
    margin: auto; /* Centra la imagen horizontalmente */
}
