/* CSS */
body {
    font-family: 'Arial', sans-serif;
    background-image: url(https://cdn.pixabay.com/photo/2015/01/31/05/05/background-618226_1280.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Primer_tit {
    text-align: center;
    color: #343a40;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.grid-item {
    margin: 10px;
}

.grid-item img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.grid-item img:hover {
    transform: scale(1.1);
}

.carousel {
    margin-top: 50px;
}

.carousel-item img {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    margin-right: 5px;
}
