/* Estilos para el título principal */
.Primer_tit {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: fadeIn 2s ease-in-out infinite alternate;
    margin-bottom: 50px;
}

/* Efecto de animación para el título */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Estilos para el cuerpo de la página */
.cuerpo_princ {
    background-image: url(https://cdn.pixabay.com/photo/2015/01/31/05/05/background-618226_1280.png);
    background-size: cover;
}

/* Estilos para el carrusel de imágenes */
#carusel1 {
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 0;
    margin: 20px;
}

.carousel-item img {
    width: 300px; /* Tamaño de las imágenes del carrusel */
    height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 25px; /* Tamaño de las flechas del carrusel */
    height: 25px;
}

.carousel-control-prev,
.carousel-control-next {
    top: calc(50% - 12.5px); /* Alineación vertical de las flechas del carrusel */
}

/* Estilos para la grilla de imágenes */
.grid-container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.column {
    display: flex;
    flex-direction: column;
    margin-right: 2px; /* Margen derecho de las columnas */
}

.grid-item {
    margin-bottom: 2px;
}

.grid-item img {
    width: 30%; /* Tamaño de las imágenes en la grilla */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
